// --- Main colors ---
$foreground: #9c9eb9;
$primary: #008aa8;
$secondary: #83eede;

// Debug main colors
/*$foreground: #1bff00;
$primary: #ff0000;
$secondary: #ffe900;*/

// --- Text ---

$font-dark: #2e3440;
$font: #fff;

$link: #83eede;
$link-hover: #a8fff1;

$white: #fff;
$light: #64676b;
$light-1: #b2b7bd;

$shadow: rgba(0, 0, 0, 0.5);

// --- Backgrounds ---

$black:  #000000;
$dark-1: #010409;
$dark-2: #0d1117;
$dark-3: #21262d;
$dark-4: #30363d;
